parameters:
	ignoreErrors:
		-
			message: "#^Property List\\\\LinkedListItem\\:\\:nextItem is defined as nullable, but null is never assigned$#"
			count: 1
			path: src/List/LinkedListItem.php

		-
			message: "#^Property List\\\\SortedLinked\\\\IntSortedLinkedList\\:\\:firstItem is defined as nullable, but null is never assigned$#"
			count: 1
			path: src/List/SortedLinked/IntSortedLinkedList.php
